<html>

<head>
</head>

<body>

<%= params %>

<h1>Вопросы:</h1>

<table>

  <% Question.all_by_test_id(params[:test_id].to_i).each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td>

        <%= link_to 'Удалить',
                    controller: "questions",
                    action: "destroy",
                    method: :delete,
                    id: question.id
        %>

      </td>

      <td><%= button_to "delete", controller: "questions", :method => "delete" %></td>

    </tr>
  <% end %>

</table>

</body>

</html>
