<h1>Тесты:</h1>

<table>

  <% @tests.each do |test| %>
    <tr>
      <td><%= test.title %></td>
      <td><%= button_to "Открыть", test_questions_path(test.id), id: 2, method: :get %></td>

    </tr>
  <% end %>
</table>
